/* General Styles */
body {
  margin: 0; /* Remove default margin */
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 150px;
  height: auto;
}

.sign-up-button {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 100px;
  height: 50px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.join-us-button {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  height: 50px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  padding: 20px;
  z-index: 1;
}

h2 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  text-align: center;
}

p {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 14px;
  text-align: center;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
  .logo {
    width: 120px;
  }

  .sign-up-button {
    top: 3%;
    right: 5%;
    font-size: 14px;
  }

  h2 {
    top: 25%;
    font-size: 20px;
  }

  p {
    top: 39%;
    font-size: 12px;
  }

  .join-us-button {
    top: 55%;
  }
}
@media only screen and (max-width: 480px) {
  .logo {
    width: 100px;
  }

  .sign-up-button {
    top: 3%;
    right: 5%;
    font-size: 12px;
  }

  h2 {
    top: 25%;
    font-size: 18px;
  }

  p {
    top: 40%;
    font-size: 10px;
  }

  .join-us-button {
    top: 55%;
  }
}

@media only screen and (max-width: 345px) {
  .logo {
    width: 100px;
  }

  .sign-up-button {
    top: 3%;
    right: 5%;
    font-size: 12px;
  }

  h2 {
    top: 30%;
    font-size: 13px;
  }

  p {
    top: 41%;
    font-size: 10px;
  }

  .join-us-button {
    top: 55%;
  }
}
